---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Profile</div>
	</div>

	<div class="mb-10 text-justify">
		Dedicated to the learning process and ability development especially in
		the field of online media. Creative learner, while still considering the
		business aspects and time management and resource.
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Education</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Sarjana Manajemen"
			subtitle="2016 to 2021 at Fakultas Ekonomi Bisnis Universitas Islam Indonesia, Yogyakarta"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Merchant Analyst"
			subtitle="at PT. Fasa Centra From 2021-2022"
		/>
		<TimeLineElement
			title="Sea Water Surveyor"
			subtitle="At PT. Sucofindo in 2021 (5 months)"
		/>
	</div>
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Extracullicular activities</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Digital Marketing Division"
			subtitle="at Lembaga Pers Mahasiswa Himmah UII From 2017-2019"
		/>
		<TimeLineElement
			title="Publication and Documentation"
			subtitle="At Capital Market Week event in 2016"
		/><TimeLineElement
			title="Other Volunteering Act"
			subtitle="At MJBS and Remais, neighborhoods organization"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Certifications</div>
	</div>

	<ul class="list-disc mx-6 mb-10 grid gap-2">
		<li>
			<a
				href="https://www.freecodecamp.org/certification/fccf52b9d7c-3966-4259-b50d-2bbb8b2e1135/responsive-web-design"
				target="_blank"
			>
				Responsive Web Design</a
			>
		</li>
		<li>
			<a href="" target="_blank"
				>Brevet A/B plus SPT Pajak from PPA Universitas Indonesia</a
			>
		</li><li>
			<a
				href="https://github.com/anantadhia/CVAnan/blob/main/public/Certi/Doctrine_Dhia%20Ananta_rotated.pdf"
				target="_blank"
				>The Awardee of Short Documentary Film Production and Photo
				Story Scholarship DOCTRINE 2018</a
			>
		</li><li>
			<a href="" target="_blank">The other certificates</a>
		</li>
	</ul>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Skills</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6">
		<li>Indonesia (Native)</li>
		<li>English (C2)</li>
		<li>JavaScript</li>
		<li>Graphic Design</li>
		<li>Adobe Illustrator</li>
		<li>Figma</li>
		<li>Copywriting</li>
		<li>CSS</li>
		<li>HTML</li>
		<li>AstroJs</li>
		<li>TailwindCss</li>
		<li>Git</li>
		<li>Spline</li>
		<li>Trello</li>
		<li>NextJs</li>
		<li>LeanStartup</li>
		<li>UI Design</li>
		<li>WEB Design</li>

		<li>Photo and Videography</li><li>Photo and Video editidng</li>
		<li>Office Suite</li>
	</ul>
</BaseLayout>
