---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hallo disana 👋</div>
      <div class="text-5xl font-bold">I'm Dhia Ananta</div>
      <div class="text-3xl py-3 font-bold">Entrepreneur with some skills in digital medium like web development, graphics design, writing, photo and videography, with a little bit skill in documentary film making. A generalist that specialize in digital world.</div>
      <div class="py-2">
        <text class="text-lg">
       If you want more information, feel free to contact me for further collaboration.
          </text
        >
      </div>
      <div class="mt-2 flex justify-center" >
        <a  href="https://an2ta.medium.com" target="_blank" class="btn rounded-xl m-1  bg-white-500 hover:bg-slate-400"> <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24px"
          height="24px"  style="fill: currentColor;transform: ;msFilter:;"
          ><path
            d="M7 8c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5S4.243 8 7 8M7 6c-3.866 0-7 3.134-7 7s3.134 7 7 7 7-3.134 7-7S10.866 6 7 6L7 6zM18 8.693c.409.582 1 2.081 1 4.307s-.591 3.725-1 4.307c-.409-.582-1-2.081-1-4.307S17.591 9.275 18 8.693M18 6.5c-1.657 0-3 2.91-3 6.5s1.343 6.5 3 6.5 3-2.91 3-6.5S19.657 6.5 18 6.5L18 6.5zM23 8A1 5 0 1023 18 1 5 0 1023 8z"
          ></path></svg
        >Medium </a>
        <a href="https://www.behance.net/nutshell4" target="_blank" class="btn rounded-xl bg-slate-700 m-1 hover:bg-black"> <svg width="20px" height="20px" viewBox="0 -3.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#00aaff" stroke="#00aaff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>behance [#163]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-100.000000, -7482.000000)" fill="#0084ff"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M56.981,7324.11726 L62.069,7324.11726 L62.069,7322.65997 L56.981,7322.65997 L56.981,7324.11726 Z M59.489,7327.04322 C58.354,7327.04322 57.492,7327.74656 57.409,7329.04584 L61.481,7329.04584 C61.205,7327.50385 60.52,7327.04322 59.489,7327.04322 L59.489,7327.04322 Z M59.648,7333.06968 C60.696,7333.06968 61.465,7332.40764 61.622,7331.84992 L63.826,7331.84992 C63.196,7333.86701 61.895,7335 59.559,7335 C56.578,7335 54.905,7332.87964 54.905,7330.06626 C54.905,7323.44077 64.465,7323.20323 63.985,7330.68491 L57.409,7330.68491 C57.473,7332.20418 58.1,7333.06968 59.648,7333.06968 L59.648,7333.06968 Z M49.73,7332.77842 C50.933,7332.77842 51.775,7332.31572 51.775,7331.06705 C51.775,7329.77191 51.031,7329.21006 49.782,7329.21006 L46.768,7329.21006 L46.768,7332.77842 L49.73,7332.77842 Z M49.571,7327.26218 C50.572,7327.26218 51.263,7326.79638 51.263,7325.71399 C51.263,7324.57377 50.459,7324.22158 49.36,7324.22158 L46.768,7324.22158 L46.768,7327.26218 L49.571,7327.26218 L49.571,7327.26218 Z M49.924,7322 C52.295,7322 53.943,7322.7839 53.943,7325.22237 C53.943,7326.42973 53.458,7327.32931 52.233,7327.93557 C53.801,7328.40137 54.543,7329.62422 54.543,7331.23127 C54.543,7333.78232 52.52,7335 50.1,7335 L44,7335 L44,7322 L49.924,7322 Z" id="behance-[#163]"> </path> </g> </g> </g> </g></svg> hance</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>
<HorizontalCard
		title="Lapage Website"
		img="/logo.png"
		desc="This is a side project of Web Development, Digital Marketing, and Business Intelligence"
		url="https://lapage.website"
		badge="Individu"
	/>
    <HorizontalCard
		title="PT. Unkreatif kreatif media"
		img="/LogoUnk.png"
		desc="This is a side project of digital media marketing that I work with my friends. We offers services from product visualisation, social media management, advertising management, and even web building."
		url="https://unkreatif.com"
		badge="Inactive"
	/>



    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest ideas</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
