---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects">
	<div>
		<div class="text-3xl w-full font-bold mb-5">Projects</div>
	</div>

	<HorizontalCard
		title="PT. Unkreatif kreatif media"
		img="/LogoUnk.png"
		desc="This is a side project of digital media marketing that I work with my friends. We offers services from product visualisation, social media management, advertising management, and even web building."
		url="https://unkreatif.com"
		badge="Current"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Lapage Website Services"
		img="/logo.png"
		desc="Project to branding my services in web development into independent business"
		url="https://www.lapage.website"
	/>
	<HorizontalCard
		title="Maha Karya Monumental Website"
		img="/post_img.png"
		desc="This is a ongoing long project of making the website for a small medium contractor company called Maha Karya Monumental"
		url="#"
	/>
	<div class="divider my-0"></div><HorizontalCard
		title="Tatsuro Player App"
		img="/Goahead.jpg"
		desc="This is a fun project to learn web dev. The main challenge is to provide music player specially for scarce resource of Tats Yamashita's music"
		url="https://tatsu-music-app.netlify.app/"
	/>
	<div class="divider my-0"></div><HorizontalCard
		title="Fun project 1: The Ring!"
		img="/ring.png"
		desc="This is a fun project to learn web dev. The main challenge is to learn 3d using Three js library with react thus react three fiber"
		url="https://lord-of-the-threejs.vercel.app/"
	/><div class="divider my-0"></div><HorizontalCard
		title="Fun project 2: Sphere"
		img="/mubeng.png"
		desc="This is a fun project to learn web dev. The main challenge is to learn 3d using Three js library with vanila js"
		url="https://telungdimensi.netlify.app/"
	/>
	<div class="divider my-0"></div><HorizontalCard
		title="Fun project 3: Hangman"
		img="/post_img.png"
		desc="This is a fun project to learn web dev. The main challenge is to learn react and creating hangman game"
		url="https://gantungbhsinggris.netlify.app/"
	/>
	<div class="divider my-0"></div><HorizontalCard
		title="Fun project 4: Maxwell The Meme Cat"
		img="/unnamed.png"
		desc="This is a fun project to learn web dev. The main challenge is to learn 3d using Three js library with react thus react three fiber .For Maxwell meme cat!"
		url="https://maxwellthecat.netlify.app/"
	/>

	<div></div>
	<!-- 
	<HorizontalCard
		title="Demo Project 3"
		img="/post_img.png"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
		badge="FOSS"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Demo Project 4"
		img="/post_img.png"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
	/>
	<div class="divider my-0"></div>
	<HorizontalCard
		title="Demo Project 5"
		img="/post_img.png"
		desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
		url="#"
	/> -->
</BaseLayout>
