---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
	<div class="pb-2">
		&copy; {today.getFullYear()} Ananta Dhia
	</div>
	<div class="inline opacity-75">
		<!-- Thanks for using this template. Please keep this line to support my work :) -->
		<a href="https://github.com/anantadhia" target="_blank" class="font-bold"></a> CV of
		<a href="mailto:ananta0297@gmail.com" target="_blank" class="font-bold">Ananta Dhia ⚡️</a>
	</div>
</footer>
<style>

</style>
